<html>
    <head></head> 
    <body>
    <h1>Delete Book</h1>  
    <p>Are you sure you want to delete {{book_title}}</p>
    <form action="{{url_for('deleteBook', book_id = book_id)}}" method = 'POST'>
        <button type = "submit" action="{{url_for('deleteBook', book_id = book_id)}}" method = 'POST' class = "deletebtn" value = 'true'>Delete</button>
        <a href = "{{url_for('showBook')}}">Cancel</a>
    </form>

    </body>
</html>